div.vid__container {
	float: right;
}

div.playlist__container {
	float: left;
}

div.playlist__container,
div.vid__container {
	display: flex;
	margin: 15vh 0 15vh 0;
	flex-direction: column;
	width: 50%;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	text-align: center;

	p {
		font-size: large;
	}

	.iframe__container {
		background: rgba(0, 0, 0, 0.1);
		margin: 2vh 2vw 2vh 2vw;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 75%;

		iframe {
			height: 380px;
			width: 100%;
			border: 0px;
			border-radius: 12px;
		}
	}
}
