.spark-input__container {
	margin-bottom: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	span {
		color: #6fa8e7;
		text-shadow: 0 0 5px;
	}

	.spark-input__input-section {
		display: flex;
		width: 75%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: 600px) {
			& {
				width: auto;
			}
			[class$="__container"] {
				width: 100%;
				margin: 2vh 0 4vh 0;
			}
		}

		.spark-input__container__input__item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;

			input {
				width: 120px;
				height: 20px;
				border: #6fa8e7 solid 1px;
				color: #6fa8e7;
				border-radius: 5px;
				-moz-appearance: textfield;
				background: transparent;
				font-size: larger;
				text-align: center;
				box-shadow: 0 0 5px;

				&:focus-visible {
					outline: none;
					box-shadow: 0 0 5px 5px;
				}

				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
				}
			}
		}
	}

	.spark-input__container__button {
		margin-top: 6vh;

		button {
			height: 40px;
			font-size: larger;
			background: transparent;
			border: whitesmoke solid 1px;
			border-radius: 5px;
			color: whitesmoke;
			box-shadow: 0 0 5px;
			padding: 5px 10px;
			cursor: pointer;

			&:hover {
				box-shadow: 0 0 5px 5px;
			}
		}
	}
	.spark-input__container__result {
		text-align: center;
		align-items: center;
		display: contents;

		&-progress-bar {
			display: flex;
			position: relative;
			width: 75vw;
			height: 40px;
			background: transparent;
			border-radius: 5px;
			margin: 10px 0;
			overflow: hidden;
			border: #6fa8e7 solid 2px;
			box-shadow: 0 0 5px;

			&.filled {
				box-shadow: 0 0 5px 3px;
			}

			span {
				color: whitesmoke;
				border-left: 1px solid whitesmoke;
				height: 100%;
				display: inherit;
				align-items: center;
				position: absolute;
				top: 0;
				pointer-events: none;

				// choose id
				&:nth-of-type(1) {
					left: 33.33%;
				}
				&:nth-of-type(2) {
					left: 66.66%;
				}
			}

			&__progress {
				width: 0%;
				height: 100%;
				background: linear-gradient(
					135deg,
					rgba(253, 49, 22, 1),
					rgba(254, 241, 49, 1),
					rgba(62, 135, 20, 1),
					rgba(29, 168, 187, 1),
					rgba(51, 66, 195, 1),
					rgba(247, 163, 238, 1)
				);
				background-position: left;
				box-shadow: 0 0 5px 5px;
				transition: width 0.8s ease-in-out;
			}

			img {
				right: 0;
				margin: 10px;
				height: 20px;
				width: 20px;
				display: block;
				position: absolute;
			}
		}
	}
}
