@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

html {
	--primary-color: 34, 49, 63;
	--secondary-color: 29, 42, 56;
	--border-radius: 1em;
	--box-bg: rgba(var(--primary-color), 0.5);
	--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);

	background-color: rgb(var(--secondary-color));
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto 100lvh;
	background-attachment: fixed;
	margin: 0;

	scroll-behavior: smooth;
	// scroll-snap-type: y mandatory;
}

body {
	font-family: "JetBrains Mono", monospace;

	.background {
		position: fixed;
		top: 0;
		bottom: 0;
		// Center horizontally only
		left: 50%;
		transform: translateX(-50%);
		width: auto;
		height: 100lvh;
		z-index: -1;
	}

	&.light {
		.header widgets-content,
		section,
		a {
			color: black !important;
		}
	}
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

	* {
		text-align: center;
	}

	// Overlay the page with a loading screen
	.loading {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #1d2a38;
		color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 1000;

		// Fade out transition
		transition: visibility 0.5s, opacity 0.5s linear;

		&.fade-out {
			opacity: 0;
			visibility: hidden;
		}
	}

	.header {
		display: flex;
		padding: 1rem;
		padding-top: 0;
		flex-direction: column;

		.cat {
			line-height: 1.5rem;
			cursor: pointer;
			user-select: none;
			padding-bottom: 0.5rem;
		}

		.widgets {
			margin: 0.75rem;
			display: flex;
			flex-direction: row;
			gap: 1rem;
			align-items: center;
			justify-content: center;

			.date-widget {
				--primary-color: 126, 221, 222;
			}

			.time-widget {
				--primary-color: 255, 212, 132;
			}

			[class$="-widget"] {
				color: black;
				background-color: rgba(var(--primary-color), 0.8);

				&:hover {
					background-color: rgba(var(--primary-color), 1);
				}
			}

			&-content {
				color: white;
				text-decoration: none;
				font-size: 0.8rem;
				padding: 0.5rem;
				transition: all 0.3s ease-in-out;
				background-color: rgba(var(--primary-color), 0.5);
				border-radius: var(--border-radius);
				box-shadow: var(--box-shadow);

				display: flex;
				align-items: center;
				gap: 0.5rem;

				&:hover {
					background-color: rgba(var(--primary-color), 0.8);
				}
			}
		}
	}

	section {
		background-color: rgba(var(--secondary-color), 0.6);
		color: white;
		backdrop-filter: blur(10px);
		border: 5px solid rgba(var(--primary-color), 0.8);
		border-radius: var(--border-radius);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		margin: 1rem;
		margin-top: 1rem;
		width: fit-content;
		max-width: min(calc(100% - 2rem), 1000px);

		article {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 1rem;
			width: 100%;

			a {
				color: white;
			}

			.music {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				width: 100%;
				flex-wrap: wrap;

				iframe {
					padding: 0 1rem;
					height: 450px;
					width: 100%;
					max-width: 660px;
					min-width: 300px;
					overflow: hidden;
					background: transparent;
					border: none;
				}
			}

			&.intro {
				margin-top: 1rem;

				.avatar {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 1rem;
					padding: 1rem;
					.name {
						flex-direction: column;
						justify-content: center;
						gap: 0;

						h1 {
							// Vertical center
							font-size: 2rem;
							// text-shadow: 0 0 5px white;
							line-height: 1rem;
						}
					}

					img {
						// Round
						border-radius: 50%;
						width: 100px;
						height: 100px;
					}

					.decoration {
						position: absolute;
						border-radius: 50%;
						transform: scale(1.2);
						pointer-events: none;
					}
				}
			}

			.icons {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 1rem;
				width: 100%;

				a {
					color: white;
					font-size: 1.5rem;

					&:hover {
						transform: scale(1.1);
						transition: transform 0.5s;
					}
				}
			}

			#stats {
				max-width: 100%;
			}

			&.bio {
				max-width: 75%;
				line-height: 1.75rem;
			}
		}

		footer {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 2rem;
			font-size: 1rem;
			width: 100%;
		}

		// @media screen and (max-width: 1280px) {
		// 	width: 80%;
		// }

		// @media screen and (max-width: 768px) {
		// 	width: 90%;
		// }

		// XL screen
		// @media screen and (min-width: 1920px) {
		// 	position: absolute;
		// 	left: 50%;
		// 	top: 50%;
		// 	transform: translate(-50%, -50%);
		// }
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #1d2a38;
}

::-webkit-scrollbar-thumb {
	background: #2f3e4e;
	border-radius: 10px;
}
