.cat {
	line-height: 1.5rem;
	cursor: pointer;
	user-select: none;
	padding-bottom: 0.5rem;
}

.header {
	display: flex;
	padding: 1rem;
	padding-top: 0;
	flex-direction: column;

	.clock-header {
		padding-bottom: 0.5rem;
	}

	.clock {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;

		.date-widget,
		.time-widget {
			position: relative;
			display: flex;
			align-items: center;
			padding: 3px 7px;
			color: #000;
			border-radius: 2px;
			box-shadow: 0 5px 10px rgba(255, 255, 255, 0.12);
			transition: box-shadow 0.5s linear;
		}

		.date-widget {
			background-color: #7eddde;
		}

		.time-widget {
			background-color: #ffd484;

			.time-widget-filler {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transform: scaleX(0);
				background-color: rgba(0, 0, 0, 0.15);
				border-radius: inherit;
				transform-origin: left;
			}
		}
	}
}

.lanyard {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	column-gap: 2.5rem;
	row-gap: 1.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 1rem;

	&.centered {
		width: fit-content;

		.activity {
			justify-content: left !important;
			margin: 0 !important;
			width: 100%;
			max-width: 350px;
			display: block;
			background-color: var(--box-bg);
			border-radius: var(--border-radius);
			box-shadow: var(--box-shadow);

			.activity-info {
				flex-direction: row !important;
				height: 100%;

				.activity-image {
					margin-right: 15px !important;
					margin-left: 0 !important;
				}

				* {
					text-align: left !important;
				}
			}
		}
	}

	.activity {
		width: 400px;
		// background-color: inherit;
		z-index: 0;
		display: flex;
		justify-content: center;
		background-color: var(--box-bg);
		border-radius: var(--border-radius);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
		padding: 1rem;

		&:has(.activity-info-progress) {
			min-height: 118px;
		}

		&:nth-child(odd):not(:only-child) {
			justify-content: left;
			margin-right: auto;
			padding-right: 0;
		}

		&:nth-child(even) {
			justify-content: right;
			margin-left: auto;
			padding-left: 0;

			.activity-info {
				flex-direction: row-reverse;

				.activity-image {
					margin-right: 0;
					margin-left: 15px;

					// .activity-image-small {
					// 	transform: translateX(-55px);
					// }
				}

				* {
					text-align: right;
				}
			}
		}

		.activity-info {
			position: relative;
			display: flex;
			flex-direction: row;
			font-size: 0.75rem;

			* {
				text-align: left;
			}

			.activity-image {
				margin-right: 15px;
				margin-top: 5px;
				width: auto;
				height: auto;
				position: relative;

				.activity-image-large {
					width: 80px;
					height: 80px;
					border-radius: 10px;
					object-fit: cover;

					&.unknown {
						filter: invert(1);
					}
				}

				.activity-image-small {
					position: absolute;
					top: 60px;
					right: -5px;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					margin-left: -26px;
					margin-bottom: -8px;
					background-color: var(--accent, #1d2a38);
					transition: background-color 0.5s linear;

					// If no large image, remove the margin
					&.no-large {
						top: 0;
						right: 0;
						width: 80px;
						height: 80px;
						border: solid 0.5px var(--border-color);
						border-radius: 10px;
						border: solid 0.5px var(--border-color);
						border-radius: 10px;
						margin-left: 0;
						margin-bottom: 0;
					}
				}

				.activity-image-emoji {
					font-size: 3.5rem;
				}
			}

			.activity-info-progress {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				transition: background-color 0.5s linear !important;

				&-bar {
					width: 100%;
					height: 2px;
					background-color: #000;
					border-radius: 5px;
					margin-left: 7px;
					margin-right: 7px;
					overflow: hidden;
					transition: background-color 0.5s linear;

					&-container {
						position: relative;
						width: 100%;
						height: 100%;
					}

					&-fill {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: #fff;
						border-radius: 5px;
						transition: background-color 0.5s linear;
					}
				}
			}

			.activity-info-text {
				color: #e0e0e0;
				line-height: 1;
				font-size: 0.85rem;
				max-width: 250px;
				text-wrap: nowrap;
				transition: color 0.5s linear;

				&.has-timestamp {
					margin-top: -6px;
				}

				&-name {
					svg {
						color: #fff;
						transition: color 0.5s linear;
					}

					span {
						color: #fff;
						font-weight: bold;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						height: 15px;
						margin: 7px 0;
						padding-left: 0.5rem;
						transition: color 0.5s linear;
					}
				}

				&-details,
				&-state {
					color: #ccc;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					height: 15px;
					margin: 7px 0;
					transition: inherit;
				}

				a {
					margin: 0;
					display: inline-block;
					max-width: 100%;
				}
			}
		}
	}
}

.placeholder-text {
	color: #e0e0e0;
	font-style: italic;
	transition: color 0.5s linear;
}

body.light {
	.date-widget,
	.time-widget {
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12) !important;
	}

	.lanyard {
		.activity-info-text {
			color: #333 !important;

			&-name {
				span,
				svg {
					color: #000 !important;
				}
			}

			&-details,
			&-state {
				color: #333 !important;
			}
		}

		.activity-info-progress-bar {
			background-color: #f3f3f3 !important;

			&-fill {
				background-color: #000 !important;
			}
		}
	}

	.placeholder-text {
		color: #333;
	}
}
