@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700&display=swap");

div.social__container {
	text-align: center;
	display: flex;
	margin: 15vh 0 10vh 0;
	flex-direction: column;
	float: right;
	width: 50%;
	align-content: center;
	justify-content: space-between;

	p {
		margin: 5vh 5vh 5vh 5vh;
		font-size: large;
	}

	div.button__container {
		margin: 2vh 2vh 2vh 2vh;
		color: rgb(57, 48, 182);
		border-radius: 20px;

		#github {
			background-color: #000;
		}

		#crowdin {
			background-color: #2e3340;
		}

		#premid {
			background-color: #7289da;
		}

		#discord {
			background-color: #5865f2;
		}

		div.button__wrapper {
			z-index: 0;
			overflow: hidden;
			margin-bottom: 16px;
			border-radius: 20px;
			background-color: rgb(79, 124, 254);
			color: rgb(255, 255, 255);

			*,
			::before,
			::after {
				box-sizing: inherit;
			}

			a {
				margin: 0px;
				border: none;
				text-align: center;
				cursor: pointer;
				text-decoration: none;
				-webkit-box-align: center;
				align-items: center;
				-webkit-box-pack: center;
				justify-content: center;
				height: auto;
				position: relative;
				padding: 16px 20px;
				appearance: none;
				vertical-align: middle;
				display: block;
				width: 100%;
				overflow-wrap: break-word;
				word-break: break-word;
				-ms-hyphens: auto;
				-webkit-hyphens: auto;
				hyphens: auto;
				white-space: normal;
				background: none;
				color: inherit;
				font-family: Karla, sans-serif;
				font-size: 16px;
				font-weight: 700;
				box-sizing: border-box;
				-webkit-font-smoothing: antialiased;
			}
		}
	}
}
