.lanyard {
	width: 400px;
	height: 200px;
	inset: 0;
	background-color: #101320;
	color: #fff;
	font-family: "Century Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	text-align: left;
	text-decoration: none !important;
	text-shadow: none !important;

	&.has-banner {
		height: auto;
		transition: height 3s ease-in-out;

		&:hover .banner {
			height: 140px;
		}
	}

	.banner {
		height: 40px;
		border-radius: inherit;
		transition: height 0.5s ease-in-out;
		border: #101320 10px solid;

		&.hidden {
			display: none;
		}

		img {
			border-radius: 20px 20px 0 0;
			width: 100%;
		}
	}

	.profile {
		width: 400px;
		height: 80px;
		inset: 0;
		display: flex;
		flex-direction: row;
		background-color: inherit;
		z-index: 1;
		border-radius: 20px 20px 0 0;
		box-shadow: 0px 0px 50px 5px #101320;

		.profile-avatar {
			display: flex;
			flex-direction: row;
			height: 80px;
			width: 80px;

			img {
				border: solid 3px;
				border-radius: 50%;
				width: 50px;
				height: 50px;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-color: #747f8d;
			}

			&.online > img {
				border-color: #43b581;
			}

			&.idle > img {
				border-color: #faa61a;
			}

			&.dnd > img {
				border-color: #f04747;
			}

			&.offline > img {
				border-color: #747f8d;
			}
		}

		.profile-info {
			height: 80px;
			width: 260px;

			.profile-info-name {
				display: flex;
				position: relative;
				transform: translate(0, -50%);
				flex-direction: column;
				top: 40%;
				height: 35px;

				&.has-status {
					flex-direction: row;
					top: 35%;
					height: 25px;

					.profile-info-name-badges {
						margin-top: 5px;
					}
				}

				h1 {
					font-size: 1.15rem;
					margin: 0 12px 0 0;
					white-space: nowrap;

					.tag {
						background-image: linear-gradient(
							60deg,
							#ccf9ff,
							#7ce8ff,
							#55d0ff,
							#00acdf,
							#0080bf,
							#00acdf,
							#55d0ff,
							#7ce8ff,
							#ccf9ff
						);
						background-size: 300%;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}

					.discriminator {
						color: #ccc;
						font-weight: lighter;
					}
				}

				.profile-info-name-badges {
					margin-top: 5px;
					img {
						height: 20px;
						position: relative;
						top: 50%;
						transform: translate(0%, -50%);
						margin: 0 0 0 4px;
					}
				}
			}

			.profile-info-status {
				font-size: 0.9rem;
				margin-top: 16px;
				color: #aaa;
				font-weight: 400;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				img {
					width: 15px;
					height: 15px;
					position: relative;
					top: 10px;
					transform: translate(0%, -50%);
					margin: 0 2px 0 0;
				}
			}
		}
	}

	.wave-container {
		position: relative;
		width: 100%;
		height: 21px;
		// css hacky
		margin-bottom: -1px;

		> div {
			position: absolute;
			background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYwIiBoZWlnaHQ9IjIxIiB2aWV3Qm94PSIwIDAgMzYwIDIxIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMCAyMC43MzI3VjcuNTgxN0MwIDcuNTgxNyA0Ny41MzEyIC0xLjQ2OTMyIDEwNi43MzQgMS4yMzgyNEMxNjkuMzEyIDIuMzk4NjMgMTkxLjY3MiAxMy42NTA4IDI3MS45NjkgMTQuNTQ0QzMyNS44MjggMTQuNTQ0IDM2MCA3LjczNjQyIDM2MCA3LjczNjQyVjIwLjczMjdIMFoiIGZpbGw9IiMxRTIyMzMiLz4KPC9zdmc+Cg==);
			-webkit-animation-delay: 0s;
			animation-delay: 0s;
			width: 100%;
			height: 21px;

			&.wave-primary {
				-webkit-animation: wave 8s linear infinite;
				animation: wave 8s linear infinite;
				z-index: 1;
				filter: brightness(0) saturate(100%) invert(74%) sepia(32%)
					saturate(7271%) hue-rotate(199deg) brightness(90%) contrast(89%);
			}

			&.wave-secondary {
				-webkit-animation: wave-reverse 8s linear infinite;
				animation: wave-reverse 8s linear infinite;
				filter: brightness(0) saturate(100%) invert(16%) sepia(18%)
					saturate(1501%) hue-rotate(188deg) brightness(97%) contrast(91%);
			}
		}

		&.spotify {
			.wave-primary {
				filter: brightness(0) saturate(100%) invert(65%) sepia(41%)
					saturate(4807%) hue-rotate(98deg) brightness(95%) contrast(77%);
			}
			.wave-secondary {
				filter: brightness(0) saturate(100%) invert(16%) sepia(8%)
					saturate(5990%) hue-rotate(109deg) brightness(94%) contrast(85%);
			}
		}
	}

	.activity.idle {
		display: flex;
		flex-direction: row;
		height: 150px;
		justify-content: center;
		align-items: center;

		.activity-idle {
			font-style: italic;
			font-size: 0.8rem;
			color: #aaa;
			height: auto;
			text-align: center;
		}
	}

	.activity {
		height: 120px;
		width: 400px;
		background-color: inherit;
		border-radius: 0 0 20px 20px;

		.activity-info {
			display: flex;
			flex-direction: row;
			background-color: #7289da;
			border-radius: 0 0 20px 20px;
			height: 100px;
			font-size: 0.75rem;
			padding-left: 15px;
			z-index: 2;
			position: relative;

			&.spotify {
				background-color: #1db954;

				.activity-info-text {
					margin-top: -3px;

					&-name {
						color: #ddd8d8;
						margin-bottom: 15px;
					}

					&-details {
						color: #fff;
						font-weight: bold;
					}
				}
			}

			.activity-image {
				margin-right: 15px;
				width: auto;
				height: auto;

				.activity-image-large {
					width: 80px;
					height: 80px;
					border: solid 0.5px #222;
					border-radius: 10px;
				}

				.activity-image-small {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					margin-left: -26px;
					margin-bottom: -8px;
				}

				.activity-image-unknown {
					width: 70px;
					height: 70px;
					margin-top: 4px;
					filter: invert(100);
				}
			}

			.activity-info-text {
				color: #999;
				line-height: 1;
				width: 279px;
				margin-top: 5px;

				&.has-timestamp {
					margin-top: -6px;
				}

				&-name {
					color: #fff;
					font-size: 0.85rem;
					font-weight: bold;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					height: 15px;
					margin: 7px 0;
				}

				&-details,
				&-state,
				&-timestamp {
					color: #ccc;
					overflow: hidden;
					white-space: nowrap;
					font-size: 0.85rem;
					text-overflow: ellipsis;
					height: 15px;
					margin: 7px 0;
				}
			}
		}
	}
}

@-webkit-keyframes wave {
	0% {
		background-position-x: 360px;
	}
	100% {
		background-position-x: 0;
	}
}
@keyframes wave {
	0% {
		background-position-x: 360px;
	}
	100% {
		background-position-x: 0;
	}
}
@-webkit-keyframes wave-reverse {
	0% {
		background-position-x: -360px;
	}
	100% {
		background-position-x: 0;
	}
}
@keyframes wave-reverse {
	0% {
		background-position-x: -360px;
	}
	100% {
		background-position-x: 0;
	}
}
