div.about__container {
	padding-bottom: 10vh;
	position: absolute;
	display: flex;
	margin-bottom: 15vh;
	flex-direction: column;
	width: 100%;
	align-content: center;
	justify-content: center;
	align-items: center;
	text-align: center;

	p {
		font-size: large;
		span {
			color: #6fa8e7;
			text-shadow: 0 0 5px;
		}
	}

	> :last-child {
		margin-top: 2%;
	}

	.icons__wrapper {
		display: table;
		height: 60px;
		align-content: center;
		justify-content: center;
		align-items: center;

		a {
			display: table-cell;
			vertical-align: middle;
		}

		svg,
		img {
			margin-left: 5px;
			margin-right: 5px;
			fill: rgb(0, 0, 0);
			height: 60px;
			animation: floatdown 0.2s ease-in-out;
			&:hover {
				cursor: pointer;
				animation: floatup 0.2s ease-in-out forwards;
			}
			border-radius: 10px;
		}
	}

	a {
		color: #6fa8e7;
		text-shadow: 0 0 5px;
		text-decoration: inherit;
	}
}

@keyframes floatup {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-5px);
	}
}
@keyframes floatdown {
	from {
		transform: translateY(-5px);
	}
	to {
		transform: translateY(0);
	}
}
