@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@keyframes fadein {
	0% {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

body,
html {
	color: #fff;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	::-webkit-scrollbar {
		display: none;
	}

	#root {
		clear: both;
		width: 100%;

		div.background {
			animation: fadein 0.5s ease-in;
			z-index: -1;
			position: fixed;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			-webkit-filter: blur(4px);
			filter: blur(4px) brightness(0.6);
			background: rgba(0, 0, 0, 0.4);
			background-blend-mode: hard-light;
			background-position: center top;
			background-repeat: no-repeat;
			background-size: cover;
			margin: 0;
			transition: background-image 0.8s ease-in;
		}

		div.container {
			clear: both;
			position: relative;
			z-index: 2;
			top: 28px;

			@media screen and (max-width: 600px) {
				& {
					flex-direction: row;
				}
				[class$="__container"] {
					width: 100%;
					margin: 2vh 0 4vh 0;
				}
				> div:last-child [class$="__container"] {
					margin-bottom: 10vh;
				}
			}
		}
	}
}
