.cat {
	line-height: 1.5rem;
	cursor: pointer;
	user-select: none;
}

.lanyard {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	column-gap: 2.5rem;
	margin-left: 1rem;
	margin-right: 1rem;

	.activity {
		height: 120px;
		width: 400px;
		// background-color: inherit;
		z-index: 0;
		display: flex;
		justify-content: center;

		&:nth-child(odd):not(:only-child) {
			justify-content: left;
			margin-right: auto;
		}

		&:nth-child(even) {
			justify-content: right;
			margin-left: auto;

			.activity-info {
				flex-direction: row-reverse;

				.activity-image {
					margin-right: 0;
					margin-left: 15px;

					// .activity-image-small {
					// 	transform: translateX(-55px);
					// }
				}

				* {
					text-align: right;
				}
			}
		}

		.activity-info {
			display: flex;
			flex-direction: row;
			height: 100px;
			font-size: 0.75rem;

			* {
				text-align: left;
			}

			.activity-image {
				margin-right: 15px;
				margin-top: 5px;
				width: auto;
				height: auto;
				position: relative;

				.activity-image-large {
					width: 80px;
					height: 80px;
					border: solid 0.5px var(--border-color);
					border-radius: 10px;
				}

				.activity-image-small {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					margin-left: -26px;
					margin-bottom: -8px;

					// If no large image, remove the margin
					&.no-large {
						width: 80px;
						height: 80px;
						border: solid 0.5px var(--border-color);
						border-radius: 10px;
						border: solid 0.5px var(--border-color);
						border-radius: 10px;
						margin-left: 0;
						margin-bottom: 0;
					}
				}
			}

			.activity-info-text {
				color: #999;
				line-height: 1;
				font-size: 0.85rem;
				max-width: 300px;

				&.has-timestamp {
					margin-top: -6px;
				}

				&-name {
					span {
						color: #fff;
						font-weight: bold;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						height: 15px;
						margin: 7px 0;
					}
				}

				&-details,
				&-state {
					color: #ccc;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					height: 15px;
					margin: 7px 0;
				}

				a {
					margin: 0;
					display: inline-block;
					max-width: 100%;
				}
			}
		}
	}
}
